# /etc/systemd/system/xmrig.service
[Unit]
Description = xmrig
After       = network.target
After       = p2pool.service

[Service]
Type       = simple
WorkingDirectory = /var/lib/monero
ExecStart  = /usr/local/bin/xmrig -o 127.0.0.1:3333 --randomx-1gb-pages --log-file=/var/log/monero/xmrig.log
User       = monero
Group      = monero
Restart    = always
RestartSec = 20
StandardOutput = file:/var/log/monero/xmrig.log
StandardError = inherit

[Install]
WantedBy = multi-user.target
